<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet_hellothere_artifacts" value="https://pkgs.dev.azure.com/gilig42/d14b5625-c3e7-4a56-8e0f-fd7658241d50/_packaging/dotnet_hellothere_artifacts/nuget/v3/index.json" />
  </packageSources>
</configuration>
